body {
    margin: 24px;
    font-family: Georgia, 'Times New Roman', serif;
}

.box {
    width: 650px;
    border: 2px solid #9ec3da;
    padding: 28px 18px 80px;
}

h1 {
    font-size: 68px;
    color: black;
    text-shadow: 8px 8px 8px #555;
}
